<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean name="emp" class="com.spring.springcore.Employee"> <property 
		name="id"> <value>20</value> value as element </property> <property name="name" 
		value="Spring" /> value as attribute </bean> -->

	<bean name="emp" class="com.spring.springcore.Employee" p:id="10"
		p:name="spring" />

	<bean name="hospital" class="com.spring.springcore.HospitalList">
		<property name="name">
			<value>global hospital</value>
		</property>

		<property name="departments">
			<list>
				<value>Front office</value>
				<value>In patient</value>
				<value>Out patient</value>
			</list>
		</property>

	</bean>

	<bean name="scores" class="com.spring.springcore.ScoreRef"
		p:maths="80" p:physics="90" p:chemistry="80" />
	<bean name="student" class="com.spring.springcore.StudentRef">
		<property name="scores" ref="scores"/>
		<!-- 	<ref bean="scores"></ref>
		</property>  -->
	</bean>


</beans>